@import "./variables.css";
@import "./reset.css";

body {
  height: 100vh;
  width: 100%;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  background: linear-gradient(var(--lighter), var(--darker));
  justify-content: space-around;
}
.con1 {
  width: 45%;
  margin: 5%;
  margin-left: 15%;
}
.con1 > h1 {
  font-size: 3rem;
  color: white;
  font-weight: 900;
  line-height: 3.3rem;
}
.con1-btn {
  width: 9rem;
  height: 3rem;
  background-color: var(--btn);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con1 > p,
.con1-btn > a {
  font-size: 1rem;
  color: white;
  line-height: 4rem;
}

.con2 {
  width: 35%;
  position: relative;
  /* border: 1px solid yellow; */
}
.con2 > img {
  width: 57%;
  position: absolute;
  bottom: 0;
}

.con3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
}
.con3 > h1 {
  margin-top: 6rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
  line-height: 3rem;
}
.con3 > p {
  font-size: 1rem;
  color: gray;
  margin-bottom: 3rem;
}
.con3-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn);
  border-radius: 5px;
  width: 11rem;
  height: 3.4rem;
  margin-bottom: 6rem;
}
.con3-btn > a {
  color: white;
}

.con4 {
  width: 100%;
  height: auto;
  background-color: var(--base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.con4 > p {
  color: gold;
  font-size: 1rem;
  font-weight: 900;
  margin-top: 5rem;
  line-height: 2rem;
}
.con4 > h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
}
.con4-li__flex {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
.con4-li-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.con4-li-nav-icon {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: white;
}
.con4-li-nav > h1 {
  font-size: 1.1rem;
  color: white;
  font-weight: 900;
  line-height: 3rem;
}
.con4-li-nav > p {
  font-size: 0.8rem;
  color: whitesmoke;
}

.con5 {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.con5 > p {
  color: gold;
  font-size: 1rem;
  font-weight: 900;
}
.con5 > h1 {
  color: black;
  font-size: 3rem;
  font-weight: 900;
}
.con5-grid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin: auto;
  justify-content: center;
  margin-top: 3rem;
}
.con5-grid-frame {
  width: 40%;
  height: 25.4rem;
  position: relative;
}
.con5-grid-frame-img {
  width: auto;
  height: auto;
  position: absolute;
  transition-property: all;
  transition-duration: 2s;
}
.con5-grid-frame-img:hover {
  position: absolute;
  left: 7.5%;
  top: 7.5%;
  width: 85%;
  height: 85%;
  overflow: hidden;
}
.con5-grid-frame-img > img {
  left: -8.8%;
  top: -8.8%;
  width: 38rem;
  height: auto;
  overflow: hidden;
  position: absolute;
}

.con5-grid-frame > h1 {
  position: absolute;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  top: 14rem;
  left: 5rem;
}
.con5-grid-frame > pre {
  position: absolute;
  color: white;
  font-size: 1.1rem;
  top: 16rem;
  left: 5rem;
  line-height: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-bottom: 7rem;
}
footer > p {
  margin-top: 3rem;
}
.con6 {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.con6-logo {
  width: 4rem;
  height: 4rem;
  background-color: var(--base);
  border-radius: 50%;
}
