/* @media screen {
  h2 {
    color: red;
  }
}
@media print {
  h2 {
    color: blue;
  }
} */

@media (max-width: 1440px) {
  h2 {
    color: teal;
  }
}
@media (max-width: 1024px) {
  h2 {
    color: blue;
  }
}
@media (max-width: 768px) {
  h2 {
    color: red;
  }
}
@media (max-width: 425px) {
  h2 {
    color: tomato;
  }
}
