.tf-con1 {
  height: 8rem;
  width: 8rem;
  top: 20rem;
  left: 20rem;
}

#ori {
  border: 5px solid black;
}

#trsfm {
  background-color: teal;
  border: 5px solid tomato;
  transition: 1s;
}

#trsfm:hover {
  /* transform: translate(100px, 50px); */
  transform: translate3d(100px, 50px, 100rem);
}

#rotate {
  background-color: wheat;
  border-radius: 20px;
  border: 5px dashed lavender;
  transition: 1s;
}

#rotate:hover {
  transform: scale(2) translate(0px, -150px) rotate(720deg);
}

#skew {
  background-color: darkolivegreen;
  border-radius: 20px;
  border: 5px double orangered;
  transition: 1s;
}
#skew:hover {
  transform: skew(20deg, 50deg);
}

#matrix {
  background-color: green;
  border: 7px solid yellow;
  transition: 1s;
}

#matrix:hover {
  transform: matrix(2, 0.3, 0.2, 1.5, 100, 100);
}
